<%= link_to potepan_product_path(new_product.id) do %>
<div class="slide">
  <div class="productImage">
    <%= image_tag(new_product.display_image.attachment.url) %>
  </div>
  <div class="productCaption clearfix">
      <h5><%= new_product.name %></h5>
    <h3><%= new_product.display_price %></h3>
  </div>
</div>
<% end %>
