<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>人気カテゴリー</h4>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to "View T-Shirts", potepan_category_path(id:7), class:"btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <h4>T-Shirts</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to "View Brand", potepan_category_path(id:10), class:"btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <h4>Brand</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image") %>
        <div class="masking">
          <%= link_to "View Categories", potepan_category_path(id:7), class:"btn viewBtn" %>
        </div>
      </div>
      <div class="caption">
        <h4>Categories</h4>
      </div>
    </div>
  </div>
</div>
