<% option_types.each do |option_type| %>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">FILTER BY <%= option_type.presentation%></div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <% option_type.option_values.each do |option_value| %>
          <li>
            <%= link_to potepan_category_path(option_value: option_value.id) do %>
              <%= option_value.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
